body {
	
}

#chart {
	height:	350px;
	width:	350px;
/*	border: 2px black solid; */
	display: inline-block;
	margin: 20px 20px 0px 0px;
}

.latex {
	display: none;
}

.choice {
	height: 80px;
	width: 80px;
	display: block;
	border: 3px black solid;
	border-radius: 5px;
	padding: 3px;
	margin: 2px;
}

#choices {
	display: inline-block;
	position: absolute;
}

#question {

}